<div id="how" class="docs-homepage-promo row-background-pair">
<div class="header-headline">
  <h1 class="mat-h1">How we do it?</h1>
  <p>Joining together activists and tech makers 🤟</p>
</div>


<div class="wrap">
<div class="tarjeta-wrap">
  <div class="tarjeta">
    <div class="adelante carta1"></div>
   
    <div class="atras">
     <div class="container titulo1">
     <h1>Group of political and tech activists all arround the world</h1>
     </div>
      <p> With the current system the citizens are working hard to fund the system, that funds banks and big corporations. Big companies wants money, politicians want power, they are the perfect match to oprress citizens.</p>
     </div>
   </div>
 </div>

<div class="wrap  ">
<div class="tarjeta-wrap">
<div class="tarjeta">
  <div class="adelante carta2"></div>
    <div class="atras">
    <div class="container titulo2">
    <h1>Thinking global, ambitious, and non-for-profit.</h1>
    </div>
    <p>To make this big, we need full-time people, so we will fund our selves with a subscription moodel you can subscribe on Vaki Sponsots.</p>
    </div>
 </div>
</div>


<div class="wrap ">
<div class="tarjeta-wrap">
<div class="tarjeta">
<div class="adelante carta3"></div>
  <div class="atras">
  <div class="container titulo3">
  <h1>Transparency on public money</h1>
  </div>
  <p>With the current system the citizens are working hard to fund the system, that funds banks and big corporations. Big companies wants money, politicians want power, they are the perfect match to oprress citizens.</p>
  </div>
  
</div>
</div>





