<div id="what" class="docs-homepage-promo row-background-even">
<div class="header-headline">
  <h1 class="mat-h1">What we do?</h1>
  <p>Digital products that gives the power to the people 💚</p>
</div>

<div class="wrap">
<div class="tarjeta-wrap">
  <div class="tarjeta">
    <div class="adelante carta1"></div>
   
    <div class="atras">
     <div class="container titulo1">
     <h1>Citizen oversight</h1>
     </div>
      <p> Products that helps people to check what their goverments are doing and how, what or why they are taking the decitions they make.</p>
     </div>
   </div>
 </div>

<div class="wrap  ">
<div class="tarjeta-wrap">
<div class="tarjeta">
  <div class="adelante carta2"></div>
    <div class="atras">
    <div class="container titulo2">
    <h1>Liquid democracy</h1>
    </div>
    <p>Democracy should be liquid, not all the votes on a goverment should be the same. Citizeens should be able to decide who has more decision power delegating their votes. Also, politicians must make public their opinion about every law and project they will vote, citizens should be invoolved on the debat so they can decide to who give their vote.</p>
    </div>
 </div>
</div>


<div class="wrap ">
<div class="tarjeta-wrap">
<div class="tarjeta">
<div class="adelante carta3"></div>
  <div class="atras">
  <div class="container titulo3">
  <h1>Transparent money</h1>
  </div>

  <p>Money movements should be transparent, politicians can't owe favors to corporations or rich people, they need to be free to make the best decisions for the people. Also, the money the government spends comes from our taxes, is our mooney, so we need to see where it goes. We are their investments, they need to show us the money..</p>
  </div>

  
</div>
</div>





