<!--<div class="background">
  <p>
    ©2019 Neocratia - Website version that will be on the space with
    <a href="deployto.space" target="_blank" style="color: white;">@StackBlitz</a> 🚀
  </p>
</div>-->

<footer class="bg-dark text-white page-footer font-small special-color-dark py-5 ">
<div class="container">
<nav class="row">
    <a href ="#" class="col-3 text-reset text-uppercase d-flex align-items-center">
        <img src="./assets/logo.png" width="50%" alt="logo" class="img-logo mr-2 ">
    </a>
    <!--primera parte-->
        <ul class="col-3 text-reset text-uppercase" >
      <!--  <li class="font-weight-bold text-uppercase"></li>  -->
        <li><a href="#" class="text-reset">CONTACTANOS</a></li>  
        <li><a href="#" class="text-reset">RESTAURANTES</a></li> 
       
        </ul>
     <!--segunda parte-->
     <ul class="col-3 text-reset text-uppercase" >
       <!-- <li class="font-weight-bold text-uppercase"></li>  -->
        <li><a href="#" class="text-reset">HOME</a></li>  
        <li><a href="#" class="text-reset">NOSOTROS</a></li> 
 
        </ul>

     <!--redes sociales-->
     <ul class="col-3 list-unstyled ">
 
        <li class="d-flex justify-content-between bg-tamaño">
     <!--instagram-->     
     <a href="#" class="text-reset"><img src="./assets/instagram.png" width="80%"></a>        

     <!--facebook--> 
        <a href="#" class="text-reset"><img src="./assets/facebook.png" width="80%"></a>
   
    <!--whatsapp-->     
    <a href="#" class="text-reset"><img src="./assets/whatsapp.png" width="80%"></a>
   
       
    </li>
    </ul>
    </nav>

</div>    

  <!-- Copyright -->
    <div class="footer-copyright text-center py-3">@StackBlitz
     
    </div>

 
 


