/*.background {
  background-color: #2e2e2e;
  height: 50px;
}
p {
  text-align: center;
  align-content: center;
  color: white;
}*/


.ul {
  list-style: none;
}

.des {
  float: left;
}

.fondo {
  height: 250px;
}

.icono {
  font-size: 40px;
}

.text-center {
  padding: 2em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-tamaño {
  width: 10em;
}
