<header id="home" class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Political-Tech Activism</h1>
      <h2>Commited to eliminate corruption and fix our democracys</h2>
      <h2>🚀 MEETS THE SPACE 🚀</h2>
    </div>
    <div class="header-start">
      <a
        mat-raised-button
        color="accent"
        class="button"
        href="https://airtable.com/shrvNukOEICNxELNN"
        target="_blank"
        >Want to volunteer? Sign up!</a
      >
    </div>
  </div>
</header>

<div id="why" class="docs-homepage-promo row-background-even">
  <div class="header-headline">
    <h1 class="mat-h1">Why we do it?</h1>
    <p>To fix the system 💪</p>
  </div>


  <div class="wrap">
    <div class="tarjeta-wrap">
      <div class="tarjeta">
        <div class="adelante carta1"><h1>Encabezado</h1></div>
          <div class="atras">
          <p>Big money influencing our laws, and stupid political discourse. The system is a money making machine. The system is broken</p>
          </div>
       </div>
   
  </div>

  <div class="wrap">
  <div class="tarjeta-wrap">
    <div class="tarjeta">
      <div class="adelante carta2"><h1>Encabezado</h1></div>
        <div class="atras">
        <p>Our actual democracy is just a mechanism to let citizens feel iimportant but not because the power really cares about them.</p>
        </div>
     </div>
  </div>


<div class="wrap">
<div class="tarjeta-wrap">
  <div class="tarjeta">
    <div class="adelante carta3"><h1>Encabezado</h1></div>
      <div class="atras">
      <p>With the current system the citizens are working hard to fund the system, that funds banks and big corporations. Big companies wants money, politicians want power, they are the perfect match to oprress citizens.</p>
      </div>
   </div>
</div>

